body {
  width: 100%;
  height: 100%;
  margin: 0;
}

img{
  max-width:100% ;

  margin: 0 auto;
  display: block;
  
}
h1{
  text-align: center;
  
}
figcaption{
  text-align: center;
  font-size: 20px;
  
}
#featured-property p{
  width: 800px;
  text-align: center;
  margin: 50px auto;


}
#details div{
  background-colorr:red;
  text-align: center;
  width: 25%;
  float: left;
}
nav{
  text-align: center;
}
nav a{
    padding-left: 10px;
  padding-right: 10px;
  background-color:gray;
  text-align: center;
} 
div{
  background-color: red;
  
}
  


  

